.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.homescreen {
  background-image: url(./screens/img/a.jpg);
  background-size: cover;
  height: 100vh;
}

.App-header{
  margin-bottom: 90px;
  padding-top: 50px;
}

.ratesScreen {
  width: 900px;
  margin: auto;
}

.chartComponent {
  margin-bottom: 41px
}

.ratesScreen button {
  margin-top: 25px;
}

.HomeBtn {
  margin-right: 90px !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  margin-right: 10px;
}