.App {
  text-align: center;
}

.App-header {
  margin-bottom: 90px;
}

.chart {
  width: 900px;
  margin: auto;
}

.chartComponent {
  margin-bottom: 45px
}

.chart button {
  margin-top: 50px;
}

.chart button:hover {
  color: #fff;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  margin-right: 10px;
}